<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="dbConn" connectionString="Data Source=.;Initial Catalog=smdzSCADA;User ID=test;Password=test" />
  </connectionStrings>

  <appSettings>
    <add key="receiveDataKey" value="123456" />
    <add key="systemName" value="松茂电子WEBSCADA标准版"/>
    <add key="support" value="技术支持：嘉兴市松茂电子有限公司"/>
    <add key="baiduMapKey" value="7IGnmNihNaAzF0cTiatGrM0G" />
    <add key="initLongitude" value="120.760428"/>
    <add key="initLatitude" value="30.773992"/>
<add key="weatherUrl" value="http://php.weather.sina.com.cn/xml.php?city={0}&amp;password=DJOYnieT8234jlsK&amp;day=0"/>
    <add key="weatherDefaultCity" value="嘉兴" />
  </appSettings>


  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/CommonPage/default.aspx" loginUrl="~/default.aspx" name="webSCADA" path="/" protection="All" slidingExpiration="true" timeout="10080">
      </forms>
    </authentication>
  </system.web>

  <location path="ProtectedPage">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="CommonPage">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
